.container
  .row
    .col-md-12
      %h1
        Results
        %small
          = @survey.name
      %ol.breadcrumb
        %li
          %a{ href: root_path }
            All Surveys
        %li.active
          Results
  .row
    .col-md-2
      .panel.panel-default.text-center.count-box--fixed
        .panel-body
          .count
            = @survey.participants_count
          .count-label.text-muted.text-uppercase
            Participants
      .panel.panel-default.text-center.count-box--fixed
        .panel-body
          .count
            = "#{@survey.response_rate}%"
          .count-label.text-muted.text-uppercase
            Response rate
    .col-md-10
      - @themes.each do |theme|
        .panel.panel-default
          .panel-heading
            %h3= theme.name
          %ol.list-group
            - theme.rating_questions.each do |question|
              %li.list-group-item.clearfix
                .col-md-10.text-large.text-muted
                  = question.question_text
                .col-md-2.panel.panel-default.text-center.count-box.-nomargin
                  .panel-body
                    .count
                      = question.average_score
                    .count-label.text-muted.text-uppercase
                      Average score
            